.container {
  max-width: 350px;
  margin-top: 50px;
  margin-left: 700px;
  font-family: Arial, sans-serif;
}

.item-defeito {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  padding: 10px 15px;
  margin-bottom: 10px;
}


.botao-registrar {
  background-color: #0d6efd;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
}


.botao-registrar:hover {
  background-color: #0b5ed7;
}


.mensagem-rodape {
  margin-top: 20px;
  text-align: center;
  color: #3b3b3b;
  font-size: 15px;
}